.profile {
  padding: 20px 70px;
  min-height: 50px;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.profile_about {
  width: 40%;
}

.profile_education {
  width: 60%;
  margin-left: 50px;
}
