*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
font-family: Arial, Helvetica, sans-serif;
color: #333;
}

h3{
  color: #310062;
    overflow: hidden;
    text-align: center;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    position: relative;
}

h3::before,
h3:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 50px;
  height: 2px;
  background-color: #310062;
 margin: 30px; 
}

h4 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1px;
}